body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.pagina-principal {
  background-color: #ffffff;
  color: #000000;
}

.pagina-principal header {
  background: linear-gradient(
    90deg,
    #aa151b 33%,
    #ffc400 33%,
    #ffc400 66%,
    #aa151b 66%
  );
  text-align: center;
}

.pagina-principal h1 {
  margin: 0;
  font-size: 2em;
  text-align: center;
  color: black;
  background-color: #ffc400;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 80%;
}

.divider-large {
  height: 10px;
  background-color: #333;
  margin: 0 auto;
}

section {
  text-align: center;
  margin-top: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #333;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: rgb(255, 253, 253);
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  color: #ccdd10;
  text-decoration: underline;
}

.icon-section {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  width: 80%;
}

.icon-box {
  background-color: rgb(12, 12, 12);
  padding: 20px;
  width: 120px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.icon-box:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon-box.albumes {
  color: #ffc400;
}

.icon-box.albumes i {
  color: #ffc400;
}

.icon-box.albumes p {
  color: #ffc400;
}

.icon-box.informacion {
  color: #aa151b;
}

.icon-box.informacion p {
  color: #aa151b;
}

.icon-box.artistas {
  color: #aa151b;
}

.icon-box.artistas p {
  color: #aa151b;
}

.icon-box i {
  transition: transform 0.3s;
}

.icon-box.albumes:hover i {
  animation: pulse 1s infinite;
}

.icon-box.informacion:hover i {
  animation: rotate 1s infinite;
}

.icon-box.artistas:hover i {
  animation: nod 1s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes nod {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer a {
  text-decoration: none;
}

footer a.tiktok {
  color: #ffc400;
}

footer a.instagram {
  color: #ffc400;
}

footer a.twitter {
  color: #aa151b;
}

footer a:hover {
  text-decoration: underline;
}

.pagina-informacion {
  background-color: #2e073f;
  color: #ffffff;
}

.pagina-informacion header {
  text-align: center;
}

.pagina-informacion h1 {
  color: #000000;
  text-decoration: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 20 20px;
  width: 100%;
}

.info-columns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0;
}

.info-columns div {
  flex: 1;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-left: 1px solid #ebe6e6;
  border-right: 1px solid #000000;
  color: #000000;
  transition: flex-grow 0.3s, flex-basis 0.3s;
  text-align: center;
}

.info-columns div:first-child {
  border-left: none;
}

.info-columns div:last-child {
  border-right: none;
}

.info-columns h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #000000;
}

.info-columns p {
  font-size: 1em;
  line-height: 1.5em;
  color: #000000;
}

.info-columns div:hover {
  flex-grow: 2;
}

.info-columns div:not(:hover) {
  flex-grow: 1;
}

footer {
  text-align: center;
}

footer a {
  color: #ebd3f8;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

body.pagina-artistas {
  background-color: #2e073f;
  color: white;
}

header h1 {
  color: rgb(0, 0, 0);
  background-color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 80%;
}

.pagina-artistas header {
  text-align: center;
  margin: 0 -10px;
  padding: 0 10px;
}

.introduccion {
  text-align: center;
  margin: 20px 0;
  padding: 0 10px;
}

.pagina-artistas h1 {
  color: #000000;
  text-align: center;
  position: relative;
  display: inline-block;
  font-size: 2.5em;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  width: calc(100% - 40px);
}

.artistas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 20px;
}

.artista-box {
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(5, 5, 5, 0.2);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s, box-shadow 0.3s;
}

.artista-box:hover {
  transform: scale(1.05);
}

.artista-box.selected {
  box-shadow: 0 0 15px rgba(208, 205, 209, 0.5);
}

.artista-box img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  flex: 1;
}

.artista-box h3 {
  margin: 10px 0 5px;
  color: #000000;
}

.artista-box p {
  color: #000000;
}

.spotify-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  text-decoration: none;
  color: #1db954;
  font-weight: bold;
  transition: color 0.3s ease;
  text-align: center;
}

.spotify-link:hover {
  color: #1aa34a;
}

footer {
  text-align: center;
}

footer a {
  color: #ebd3f8;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2e073f;
}

.pagina-albumes {
  padding: 20px;
}

.info-album h3 {
  margin: 0 0 10px;
  color: black;
  text-align: center;
}

.info-album p {
  margin: 5px 0;
  color: black;
  text-align: center;
}

section p {
  text-align: center;
  margin: 10px 10px;
  color: white;
  font-size: 18px;
}

.albumes-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 20px;
}

.album-box {
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  height: 200px;
}

.album-box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.album-box img {
  width: 150px;
  height: 100%;
  object-fit: cover;
}

.info-album {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  height: 100%;
}

.album-box:hover .info-album {
  background-color: #faf8f8;
}

.info-album ul {
  padding-left: 20px;
  margin: 0;
  list-style-type: none;
}

.info-album ul li {
  margin-bottom: 5px;
  color: black;
}

.spotify-link {
  color: green;
  text-decoration: none;
}

.spotify-link:hover {
  text-decoration: underline;
}
